<section class="view">
    <div class="container">
        <div class="view-breadcrumb">
            <a href="#/result" class="view-breadcrumb-link">Результат прохождения теста</a>
            <span class="view-breadcrumb-sep">›</span>
            <span class="view-breadcrumb-current" id="quiz-name"></span>
        </div>

        <h1 class="view-title"><span>Правильные ответы</span> к тесту</h1>

        <p class="view-user-info">
            Тест выполнил <span id="user-full-name"></span>, <span id="user-email"></span>
        </p>

        <div id="questions"></div>

        <div class="result-back">
            <a href="#" onclick="history.back()">Обратно к моему результату теста</a>
            <img src="../images/test-arrow.png" alt="Фиолетовая стрелочка">
        </div>
    </div>
</section>
